.generator-main {
	width: 100%;
}

.generator-language-list {
	width: 240px;
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: rgba(255,255,255,0.3);
	padding: 20px 0 0 20px;
}

#language-list {
	color: #fff;
	padding: 0;
	margin: 20px 0 0 0;
}

.generator-language-list li {
	display: block;
	float: left;
	width: 100px;
	height: 30px;
}

#generator-input {
	width: 220px;
	margin-bottom: 10px;
	font-size: 20px;
}